<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#=======================================================================CSS#}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/dhtmlxscheduler.css') }}" />

        {#=================================================================JAVASCRIPT#}
        <script src="{{ asset('js/dhtmlxscheduler.js') }}"></script>
        <script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
        <script src="http://www.javascripttoolbox.com/libsource.php/date/source/date.js"></script>


    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

