<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#=======================================================================CSS#}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/dhtmlxscheduler.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/component.css') }}" />

        {#=================================================================JAVASCRIPT#}
        <script src="{{ asset('js/dhtmlxscheduler.js') }}"></script>
        <script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
        <script src="{{ asset('js/date.js') }}"></script>

        <script src="{{ asset('js/modernizr.custom.js') }}"></script>
        <script src="{{ asset('js/classie.js') }}"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

