<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1; maximum-scale=1; user-scalable=false;width=device-width, height=device-height" >

        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#=======================================================================CSS#}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/dhtmlxscheduler.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/component.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/Responsive.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/Admin.css') }}" />

        <link rel="stylesheet" href="{{ asset('css/Custom.css') }}" /> {#Important !! THE LAST CSS FILE!!!#}
        {#=================================================================JAVASCRIPT#}
        <script src="{{ asset('js/dhtmlxscheduler.js') }}"></script>
        <script src="{{ asset('js/jquery-2.1.4.js') }}"></script>
        <script src="{{ asset('js/date.js') }}"></script>
        <script src="{{ asset('js/modernizr.custom.js') }}"></script>
        <script src="{{ asset('js/classie.js') }}"></script>
        <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>

        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/Index.js') }}"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

