<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {#=======================================================================CSS#}
        <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/fullcalendar.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/fullcalendar.print.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/jquery.datetimepicker.css') }}" />
        {#=================================================================JAVASCRIPT#}
        <script src="{{ asset('js/jquery.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
        <script src="{{ asset('js/moment.min.js') }}"></script>
        <script src="{{ asset('js/fullcalendar.min.js') }}"></script>
        <script src="{{ asset('js/eakroko.min.js') }}"></script>
        <script src="{{ asset('js/application.min.js') }}"></script>
        <script src="{{ asset('js/jquery.datetimepicker.js') }}"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>

