{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-input">
            <div class="header-img"></div>

        <div class="title">
            <a href="/"><h2>Ga naar de agenda <i class="fa fa-calendar fa-2x"></i>
                </h2></a>
        </div>
    </div>

    <div class="container-scheduler">
        <div class="items">
            <h2>Verwijder of pas een afspraak aan</h2>
            {% for error in errors %}
                {{ error }}<br />
            {% endfor %}
            {% for schedulers in scheduler %}
                <ul>
                    <li>
                        <label>Naam: </label>   {{ schedulers.name }}
                    </li>
                    <li>
                        <label>Achternaam: </label>   {{ schedulers.lastName }}
                    </li>
                    <li>
                        <label>Datum: </label>    {{ schedulers.date|date('Y-m-d') }}
                    </li>
                    <li>
                        <label>Begin tijd: </label>    {{ schedulers.timeStart|date('H:i') }}
                    </li>
                    <li>
                        <label>Eind tijd: </label>    {{ schedulers.timeEnd|date('H:i') }}
                    </li>

                    <br />
                </ul>
            {% endfor %}
        </div>
    </div>

    <div class="container-room">
        <h2>Maak een nieuwe ruimte aan</h2>
        {{ form_start(formRoom) }}
        {{ form_widget(formRoom) }}
        {{ form_end(formRoom) }}
    </div>



{% endblock %}