{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-input">
             <a href="/admin">
                 <div class="header-img"></div>
             </a>
        <div class="main">
            <section>
                <form action="/">
                    <button id="showLeft">Calendar <i class="fa fa-calendar fa-2x"> </i></button>
                </form>
            </section>
        </div>
    </div>

    <div class="container-scheduler">
        <div class="items">
            <h2>Pas een afspraak aan</h2>
            <hr />
            {% for schedulers in scheduler %}
                <ul>
                    <li>
                        <label>ID:  </label>   {{ schedulers.id }}
                    </li>
                    <li>
                        <label>Naam: </label>   {{ schedulers.name }}
                    </li>
                    <li>
                        <label>Achternaam: </label>   {{ schedulers.lastName }}
                    </li>
                    <li>
                        <label>Datum: </label>    {{ schedulers.date|date('Y-m-d') }}
                    </li>
                    <li>
                        <label>Begin tijd: </label>    {{ schedulers.timeStart|date('H:i') }}
                    </li>
                    <li>
                        <label>Eind tijd: </label>    {{ schedulers.timeEnd|date('H:i') }}
                    </li>

                    <li>
                        <label>Token: </label>    {{ schedulers.token }}
                    </li>
                    <li>
                        <a href="/admin/{{ schedulers.id }}">Aanpassen</a>
                    </li>
                    <br />
                </ul>
            {% endfor %}
        </div>
    </div>

    <div class="container-room">
        <h2>Pas een afspraak aan</h2>
        {{ form_start(formBooking) }}
        {{ form_widget(formBooking) }}
        {{ form_end(formBooking) }}

         <div id="responseText" class="alert alert-danger" role="alert">
            {% for error in texts.errors %}
                {{ error }}<br />
            {% endfor %}
         </div>

        <div class="container-addRoom">
            <h2>Add room</h2>
            {{ form_start(formRooms) }}
            {{ form_widget(formRooms) }}
            {{ form_end(formRooms) }}
        </div>


         <div id="responseText" class="alert alert-danger" role="alert">
            {% for error in texts.errors %}
                {{ error }}<br />
            {% endfor %}
         </div>

    </div>


{% endblock %}
{% block javascripts %}
{% endblock %}