{% extends 'base.html.twig' %}

{% block body %}
 <div class="container-input">
    <a href="/">
        <div class="header-img"></div>
    </a>
     <div onclick="window.open('/logout', '_top')" class="menu_bttn"><i class="fa fa-sign-out" style="-ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg);"> </i> Loguit</div>
     <div onclick="window.open('/admin/archive/', '_top')" class="menu_bttn"><i class="fa fa-archive"></i> Archive</div>
</div>

<div class="container-box">

    <div class="container-scheduler">

        <div class="items">
            <h2>Pas een afspraak aan</h2>
            {% for schedulers in scheduler %}
                <ul>
                    <li>
                        <label>Id:  </label>   {{ schedulers.id }}
                    </li>
                    <li>
                        <label>Naam: </label>   {{ schedulers.name }}
                    </li>
                    <li>
                        <label>Achternaam: </label>   {{ schedulers.lastName }}
                    </li>
                    <li>
                        <label>Datum: </label>    {{ schedulers.date|date('Y-m-d') }}
                    </li>
                    <li>
                        <label>Begin tijd: </label>    {{ schedulers.timeStart|date('H:i') }}
                    </li>
                    <li>
                        <label>Eind tijd: </label>    {{ schedulers.timeEnd|date('H:i') }}
                    </li>

                    <li>
                        <label>Token: </label>    {{ schedulers.token }}
                    </li>
                    <li>
                        <a href="/admin/{{ schedulers.id }}">Aanpassen</a> |  <a href="/admin/delete/{{ schedulers.id }}">Archiveren</a>
                    </li>
                    <br />

                </ul>
            {% endfor %}
        </div>
    </div>

    <div class="container-room">
        <h2>Pas een afspraak aan</h2>
        {{ form_start(formBooking) }}
        {{ form_widget(formBooking) }}
        {{ form_end(formBooking) }}

        {#<div id="responseText" class="alert alert-danger" role="alert">#}
        {#{% for error in texts.errors %}#}
        {#{{ error }}<br />#}
        {#{% endfor %}#}
        {#</div>#}
    </div>
    <div class="container-addRoom">
        <h2>Voeg een ruimte toe</h2>
        {{ form_start(formRooms) }}
        {{ form_widget(formRooms) }}
        {{ form_end(formRooms) }}
    </div>

    {#<div id="responseText" class="alert alert-danger" role="alert">#}
        {#{% for error in texts.errors %}#}
            {#{{ error }}<br />#}
        {#{% endfor %}#}
    {#</div>#}

</div>


{% endblock %}


{% block javascripts %}
{% endblock %}