{% extends 'base.html.twig' %}

{% block body %}
    <body>
    <nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
        <div class="header-text">
            <h3>Reserveren</h3>
            <div class="exit">
                 <i class="fa fa-times fa-5x"></i>
            </div>
        </div>

        <div class="create-Form">
            {{ form_start(formBooking) }}
            {{ form_widget(formBooking) }}
            {{ form_end(formBooking) }}
            <div id="responseText">{#Error message#}</div>

        </div>

        {% for error in texts.error %}
            {{ error }}<br />
        {% endfor %}
    </nav>
        <div class="container-input">
            <div class="overflow"></div>
                 <a href="/admin"><div class="header-img"></div></a>
            <div class="main">
                <section>
                    <button id="showLeft"> <i class="fa fa-plus"> </i> Maak een nieuwe reservering aan</button>
                </section>
            </div>

            <div class="reserved">
                <section>
                    <button id="showLeft" onclick="window.open('/change', '_top')"><i class="fa fa-list"></i> Reserveringen</button>
                </section>
            </div>

        </div>
        <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:90%;'>
            <div class="dhx_cal_navline">
                <div class="dhx_cal_prev_button">&nbsp;</div>
                <div class="dhx_cal_next_button">&nbsp;</div>
                <div class="dhx_cal_today_button"></div>
                <div class="dhx_cal_date"></div>
                <div class="dhx_cal_tab" name="day_tab" style="right:204px;">Dag</div>
                <div class="dhx_cal_tab" name="week_tab" style="right:140px;">Week</div>
                <div class="dhx_cal_tab" name="month_tab" style="right:76px;">Maand</div>
            </div>
            <div class="dhx_cal_header"></div>
            <div class="dhx_cal_data"></div>
        </div>
    <script src="{{ asset('js/agenda.js') }}"></script>
        <div class="modal fade puppupBox" id="puppupBox" tabindex="-1" role="dialog" aria-labelledby="puppupBox">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title"></h4>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>
        {% if texts.box is defined %}
            {% if texts.box.autoLoad == true %}
                <script>
                    $('#puppupBox').modal('show');
                </script>
            {% endif %}
        {% endif %}
    </body>
{% endblock %}