{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/change.css') }}" />
{% endblock %}
{% block body %}
    <div class="container-input">
        <div class="header-img"></div>
    <div class="main">
        <section>
            <button id="showLeft" onclick="window.open('/','_top');"><i class="fa fa-caret-left"></i> Terug</button>
        </section>
    </div>


    </div>
    {#<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">#}
        {#<div class="header-text">#}
            {#<h3>Reserveren</h3>#}
            {#<div class="exit">#}
                {#<i class="fa fa-times fa-5x"></i>#}
            {#</div>#}
        {#</div>#}
        {#{% if texts.error|length > 0 %}#}
            {#<div id="responseText" class="alert alert-danger" role="alert">#}
                {#{% for error in texts.error %}#}
                    {#<div>{{ error }}</div>#}
                {#{% endfor %}#}
            {#</div>#}
        {#{% endif %}#}
    {#</nav>#}
    <section class="content">
        {% if formBooking is defined %}
            <div class="create-Form">
                {{ form_start(formBooking) }}
                {{ form_widget(formBooking) }}
                {{ form_end(formBooking) }}
            </div>
        {% else %}
            <div class="create-Form">
                <input type="text" name="token" placeholder="Token" />
                <input type="submit" name="submitToken" value="Wijzig" />
            </div>
        {% endif %}
        {% if texts.box is defined %}
            {% if texts.box.autoLoad == true %}
                <script>
                    $('#puppupBox').modal('show');
                </script>
            {% endif %}
        {% endif %}
        <div class="modal fade puppupBox" id="puppupBox" tabindex="-1" role="dialog" aria-labelledby="puppupBox">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <h4 class="modal-title">{% if texts.box.title is defined %}{{ texts.box.title }}{% endif %}</h4>
                    </div>
                    <div class="modal-body">
                        {% if texts.box.text is defined %}{{ texts.box.text }}{% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}
    <script>
        window.onload = function(){
            var content = document.querySelector("section.content");
            console.log(content);
            content.setAttribute("class", content.getAttribute("class")+" topBottomIn")
        };
    </script>
{% endblock %}